h1, h3, p{
  font-family: Verdana, Geneva, sans-serif;
  font-style: normal; 
  font-variant: normal; 
}
h1 { 
  font-weight: 700; 
  line-height: 30px; 
  padding: 5px;
} 
h3 {
  font-weight: 700; 
  line-height: 30px; 
  padding: 5px;
}
p { 
  font-weight: 400; 
  line-height: 28px; 
  padding: 5px;
  font-size: 22px;
  margin-bottom: 10px;
}
.header, .footer{
  text-align: center;
  background: #282828;
  color: white;
  font-size: 40px;
}
.footer > p{
  font-size: 12px;
}
.colour1{    
  background-color: #282828;
  color: white;
}
.colour2{
  background-color: #c5c6c7;
  color: black;
}
.colour3{
  background-color: #007bff;
  color: white;
}
.list-group.list-group-flush{
  font-size: 22px;
}
.row{        
  text-align: center;
  margin-right: 0px;
  padding: 50px;
}

.rowImg {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
  
/* Create four equal columns that sits next to each other */
.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}
  
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
  
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;  
  border: none; /* Remove borders */  
  outline: none; /* Remove outline */
  background: whitesmoke;
  cursor: pointer;
}

#myBtn:hover {
  background-color: #c5c6c7;
}

#Icon{
  vertical-align: top;
  display: inline;
  padding-right: 10px;
}
#displayImg{
  max-width: 100%;
}
#noDecoration{
  text-decoration: none;
}